<!-- ############################################################################################ -->
<!-- ########################################## BODY ############################################ -->
<!-- ############################################################################################ -->
<div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card ">
          <div class="card-image">
            <img src="assets/img/gestion-proyectos.jpg">
          </div>
          <div class="card-content">
            <h5 class="center blue-text">Gestión de proyectos</h5>
            <ul class="collection">
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card ">
          <div class="card-image">
            <img src="assets/img/diseño-ing.jpg">
          </div>
          <div class="card-content">
            <h5 class="center blue-text">Diseño e Ingenería</h5>
            <ul class="collection">
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card ">
          <div class="card-image">
            <img src="assets/img/construccion.jpg">
          </div>
          <div class="card-content">
            <h5 class="center blue-text">Construcción</h5>
            <ul class="collection">
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card ">
          <div class="card-image">
            <img src="assets/img/mantenimiento.jpg">
          </div>
          <div class="card-content">
            <h5 class="center blue-text">Remodelacion y mantenimiento</h5>
            <ul class="collection">
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>