<!-- ############################################################################################ -->
<!-- ########################################## BODY ############################################ -->
<!-- ############################################################################################ -->
<div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
        <div class="card ">
          <div class="card-image">
            <img src="assets/img/contactenos.png">
          </div>
          <div class="card-content">
            <h5 class="blue-text">Direccion física</h5>
            <pre class="light">   Heredia - Costa Rica <br>   Estamos ubicados en San Francisco, 150 metros oeste del Hospital San Vicente de Paúl.</pre>
            <h5 class="blue-text">Teléfonos</h5>
            <pre class="light">   Central Telefonica: 2260-2744</pre>
            <pre class="light">   Jerry Ramirez Delgado:</pre>
            <pre class="light">       • Oficina: 4707-2890 <br>       • Celular: 8384-5615</pre>
            <h5 class="blue-text">Correo electronico</h5>
            <pre class="light">       • jramirez@proarinsa.com </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>