<!-- ############################################################################################ -->
<!-- ########################################## HEADER ########################################## -->
<!-- ############################################################################################ -->
<div class="container-fluid">
  <div class="row">
    <div class="col m1"><img src="assets/img/oie_transparent.png" height="100" width="300"></div>
  </div>
  <nav>
    <div class="nav-wrapper" id="navegador">
      <a [routerLink]="['/contactenos']" class="brand-logo right"><i class="material-icons">contact_phone</i>Contactenos</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <div>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/inicio']">Inicio</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/quienesSomos']">Quienes Somos</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/servicios']">Servicios</a></li>
        </div>
      </ul>
    </div>
  </nav>
</div>