<!-- ############################################################################################ -->
<!-- ########################################## BODY ############################################ -->
<!-- ############################################################################################ -->
<div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card ">
          <div class="card-image">
            <img src="assets/img/Historia.jpg">
          </div>
          <div class="card-content">
            <p class="light">AQUI VA LA HISTORIA DE PROARINSA, LO SIGUIENTE ES ILUSTRATIVO</p>
            <ul class="collection">
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card ">
          <h2 class="center blue-text"><i class="medium material-icons">location_searching</i></h2>
          <h5 class="center blue-text">Misión</h5>
          <div class="card-content">
            <p class="light">AQUI VA LA MISION DE PROARINSA</p>
            <ul class="collection">
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <h2 class="center blue-text"><i class="medium material-icons">visibility</i></h2>
          <h5 class="center blue-text">Visión</h5>
          <div class="card-content">
            <p class="light">AQUI VA LA VISION DE PROARINSA</p>
            <ul class="collection">
              <li class="collection-item">
              </li>
              <li class="collection-item">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>